<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356708395914-qi0hh2aa0dfd341mp0rhnnaffq1l3msh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356708395914-qi0hh2aa0dfd341mp0rhnnaffq1l3msh</string>
	<key>API_KEY</key>
	<string>AIzaSyAm6WVBlDEYSgfe9d8bi3VHbgdxfHBGvRc</string>
	<key>GCM_SENDER_ID</key>
	<string>356708395914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emarah.News.KalaGatoPostApp</string>
	<key>PROJECT_ID</key>
	<string>kalagatopostapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kalagatopostapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356708395914:ios:4b67c82c0a229fda84f673</string>
</dict>
</plist>